body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7efff;
}

header {
    background-color: #87A2FF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 20px 0;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table td {
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.skills-table th, .skills-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.skills-table th {
    background-color: #FFF4B5;
    color: rgb(9, 7, 7);
}

.skills-table td {
    background-color: #D1E9F6;
}
a{
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #87A2FF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}




/* Layout for contact page */
form {
    width: 50%;
    margin: auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
